body {
    /*background: url("/img/background.gif") repeat;*/
}

code {
    vertical-align: middle;
}

#home-icons a {
    vertical-align: middle;
    padding: 0;
}

.speech-bubble-container {
    position: relative;
    margin-top: -70px;
}

.speech-bubble-container img {
    width: 441px;
    max-width: 100%;
    height: auto;
}

.speech-bubble-text {
    position: absolute;
    top: 42%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 60%;
    padding: 2%;
}

@media (max-width: 768px) {
    .speech-bubble-text {
        width: 55%;
        font-size: 0.9em;
    }
}

@media (min-width: 1200px) {
    .speech-bubble-text {
        width: 65%;
    }
}
