<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            about <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="muted">me</a></li>
                            <li><a href="/about/resume.html">resume</a></li>
                            <li><a>timeline</a></li>
                        </ul>
                    </li>
                    <li><a href="/apps/index.html">apps</a></li>
                    <li><a target="_blank" href="http://msuarz.blogspot.com/">blog</a></li>
                    <li><a href="/talks/index.html">talks</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            books <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/books/epub.html">epub</a></li>
                            <li><a href="/books/paper.html">paper</a></li>
                        </ul>
                    </li>
                    <li><a href="/movies/index.html">movies</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            pics <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>lab</a></li>
                            <li><a href="/pics/logopedia.html">logopedia</a></li>
                            <li><a>panorama</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            social <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://github.com/msuarz">github</a></li>
                            <li><a target="_blank" href="https://twitter.com/msuarz">twitter</a></li>
                            <li><a target="_blank" href="http://linkedin.com/pub/maykel-suarez/3/680/651">linkedin</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right" id="home-icons">
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="/"><img
                                src="http://www.gravatar.com/avatar/d81623c49927f1335a4c9128d3d41857.png?s=32"
                                alt="home"/></a>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>
