<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            about <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="me">me</a></li>
                            <li><a href="programming">programming</a></li>
                            <li><a href="resume">resume</a></li>
                            <li><a href="timeline">timeline</a></li>
                        </ul>
                    </li>
                    <li><a href="apps">apps</a></li>
                    <li><a href="http://msuarz.blogspot.com/">blog</a></li>
                    <li><a href="talks">talks</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            books <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">paper</a></li>
                            <li><a href="#">epub</a></li>
                        </ul>
                    </li>
                    <li><a href="/movies/index.html">movies</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            pics <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">lab</a></li>
                            <li><a href="#">logopedia</a></li>
                            <li><a href="#">panorama</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li>
                        <a style="padding: 0" href="#"><img
                                src="http://www.gravatar.com/avatar/d81623c49927f1335a4c9128d3d41857.png?s=32"
                                alt="home"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
