<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="code">Code</a></li>
                    <li><a href="talk">Talk</a></li>
                    <li><a href="pics">Pics</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li>
                        <img src="http://www.gravatar.com/avatar/d81623c49927f1335a4c9128d3d41857.png?s=32"
                             alt="msuarz"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
